// ------------------------------------------------
// MISC
// ------------------------------------------------


.group{
    @include group;
}


.img-fluid {
    display: block;
    margin: 0 auto; 
    max-width: 100%;
}

// ------------------------------------------------
// GLOBAL
// ------------------------------------------------

html{
    font-size: 100%;
    height: 100%;
}

body{
    font: calculate-rem($body-font-size)/1 $body-font-family;
    margin: 0;
    height: 100%;
}

h1, h2, h3, h4{
    margin: 0;
    line-height: 1.2em;
}

a{
    text-decoration: none !important;
}

p{
    line-height: 1.2em;
}

h2{
    font-family: $font-title-family;
}

h3{
    font-family: $font-title-family;
}


// ------------------------------------------------
// SCROLL BAR
// ------------------------------------------------

::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-button{
    background-color: none;
}
::-webkit-scrollbar-track{
    background-color: none;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(50, 50, 50, .2);
    border-radius: 20px;
}
::-webkit-scrollbar-corner{
    background-color:#0a0a0a;
}
::selection{
    color: $color-1;
    background-color: rgba(50, 50, 50, .2);
}


// ------------------------------------------------
// SCROLL BAR
// ------------------------------------------------

.block-main{
  .block-section{
    background-color: black;
    &.block-section-home{
      position: relative;
      height: 100vH;
      color: white;
      background-position: center;;
      background-size: cover;
      background-repeat: no-repeat;
      .bg-section{
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        height: 100vH;
        width: 100%;
        background-color: rgba(0, 0, 0, .8);
      }
      .row-content{
        height: 100vH;
        .row-title-contact{
          position: relative;
          height: 80%;
          .first-title{
            padding-left: 10%;
            font-family: $font-title-family;
            font-weight: 500;
            .panam-media{
            text-transform: uppercase;
            font-size: 5rem;
            font-family: $body-font-family;
            &:before{
              content: " ";
              width: 50%;
              clear: both;
              display: block;
              color: white;
              border-bottom: 4px solid $color-1;
              border-radius: 10px;
              margin-bottom: 30px;
              }
            } // panam media
            .colored{
              color: $color-1;
            }
          }
        }
        .row-menu{
          padding-left: 2%;
          .nav-menu{
            .nav-item{
              .nav-link{
                border-left: 4px solid $color-1;
                color: white;
                padding: .2rem 1rem;
                .title-menu{
                  text-transform: uppercase;
                  font-size: 1rem;
                  font-weight: 500;
                }
                .info-menu{
                  font-size: .6rem;
                  color: #ddd;
                }
              }
            }
          }
        }
        .contact{
          position: relative;
          line-height: 1.2rem;
          &:before{
            content: " ";
            width: 135%;
            clear: both;
            display: block;
            color: white;
            border-bottom: .5px solid #aaa;
            border-radius: 10px;
            margin-bottom: 20px;
            margin-top: 20px;
          }
        } // panam media
        .social-nav{
            display: flex;
            flex-direction: column;
            align-items: center;
            li{
              border: 1px solid white;
              width: 35px;
              height: 35px;
              border-radius: 20px;
              text-align: center;
              margin: .5rem 0 0 0;
              a{
                height: 100%;
                svg{
                  margin-top: 17%;
                }
              }
            }
        }
      }  // row content
    }
  }
}


// Menu burger//////////
header{
  @media (min-width: $screen-md){
    .first-level{
      position: relative;
      text-transform: uppercase;
      .dropdown, .show{
        position: initial;
        .second-level{
          text-align: center;
          border: none;
          margin-top: -2px;
          min-width: 100%;

          .standard-product,.bigformat,.letering{
            position: relative;
            padding-bottom: 10px;
            &:after{
              content: '';
              height: 1px;
              width: 100%;
              background: black;
              position: absolute;
              left: 0;
              bottom: 0;
            }
          }
          .dropdown-menu{
            display: block;
            border: none;
            min-width: 100%;  
            text-align: center;          
          }
        }
      }
      .print-item{
        &.show{
          .second-level{
            height: 400px;;
          }
        }
      }
    }
  } 
}


// .panam-menu{
//   height: 50px;
//   background: white;
//   .panam-navbar{
//     border-radius: 50px;
//     padding: 15px 30px 10px 30px;
//     margin: auto;
//     margin-top: 15px;
//     box-shadow: 0 11px 10px 0 rgba(0, 0, 0, 0.16);
//     background-color: #ffffff;
    

//   }
// }

