// ---------------------------------------------------------
// Variables
// ---------------------------------------------------------


$body-font-family: 'Montserrat', sans-serif !default;
$font-family: 'Montserrat', sans-serif;
$font-title-family: 'Roboto Slab', serif;
//$font-family-2: 'Droid Sans', sans-serif !default;

$html-font-size: 11 !default; // px
$body-font-size: 10 !default; // px

// ---------------------------------------------------------
// Media Queries
// ---------------------------------------------------------

$global-width: 1170px !default;
$gutter-width: 1.5em !default;
$screen-lg: 1025px !default;
$screen-md: 992px !default;
$screen-sm: 768px !default;

// ---------------------------------------------------------
// Colors
// ---------------------------------------------------------

$color-1: #1d4c9a, !default;
$color-2: #2c2c2c, !default;
