{% extends 'base.html.twig' %}

{% block body%}
     <header class="block-header fixed-top">
      <!--Navbar-->
<nav class="navbar navbar-dark  indigo darken-2">

    <!-- Navbar brand -->
    <a class="navbar-brand" href="#">Navbar</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent22" aria-controls="navbarSupportedContent22"
        aria-expanded="false" aria-label="Toggle navigation"><div class="animated-icon4"><span></span><span></span><span></span></div></button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent22">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
        </ul>
        <!-- Links -->

    </div>
    <!-- Collapsible content -->

</nav>
<!--/.Navbar-->
Hamburger icon within accordion 
Info notification

Copy the code above 
      <!-- <nav class="navbar navbar-light">
        <div class="col-2">
          <a class="navbar-brand" href="#">
            <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 119.35 118.83"><defs><style>.cls-1{fill:#1d4c9a;stroke:#1d4c9a;stroke-miterlimit:10;stroke-width:0.25px;}.cls-2{fill:#fff;stroke:#fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:0.75px;}</style></defs><title>Fichier 9</title><g id="Calque_2" data-name="Calque 2"><g id="Calque_1-2" data-name="Calque 1"><path class="cls-1" d="M73.17.17h-54l.2,72S68.51,40,119.34,41.8L110,41S112.66-1.46,73.17.17Zm15.41,36s.81,4.65-5.2,6-8.09-.52-39.78,7.18V19.72l23.16-.33S84.65,20.86,88.58,36.13Zm21.61,8S49.58,48.3.38,104.47v12.17L19.51,97.16v21.3H44V75.28H71.78C110.06,73.3,110.18,44.1,110.18,44.1Z"/><path class="cls-2" d="M110.18,44.1S49.58,48.3.38,104.47v12.17L19.51,97.16v21.3H44V75.28H71.78C110.06,73.3,110.18,44.1,110.18,44.1Z"/></g></g>
            </svg>
          </a>
        </div>
        <div class="col-10  justify-content-end">
          <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link active" href="#">Se connecter</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <svg height="32px" id="Layer_1" style="enable-background:new 0 0 32 32;" version="1.1" viewBox="0 0 32 32" width="32px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M4,10h24c1.104,0,2-0.896,2-2s-0.896-2-2-2H4C2.896,6,2,6.896,2,8S2.896,10,4,10z M28,14H4c-1.104,0-2,0.896-2,2  s0.896,2,2,2h24c1.104,0,2-0.896,2-2S29.104,14,28,14z M28,22H4c-1.104,0-2,0.896-2,2s0.896,2,2,2h24c1.104,0,2-0.896,2-2  S29.104,22,28,22z"/></svg>
              </a>
            </li>
          </ul>
        </div>
      </nav> -->
    </header>

  <main class="block-main">
    <section class="block-section block-section-home">
      <div class="bg-section"></div>
        <div class="row no-gutters row-content">
          <div class="col-10">
            <div class="row no-gutters align-items-center row-title-contact">
              <h1 class="first-title"><span class="panam-media">Panam Medias</span> <br> <span  id="messenger">Agence de communication <span class="colored">print</span> & <span class="colored">digitale</span></span></h1>
            </div>
            <div class="row no-gutters row-menu">
              <div class="col-12">
                <ul class="nav nav-menu">
                  <li class="nav-item col-2">
                    <a class="nav-link active" href="#">
                      <h2 class="title-menu">Impression</h2>
                      <div class="info-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit.</div>
                    </a>
                  </li>
                  <li class="nav-item col-2">
                    <a class="nav-link" href="#">
                      <h2 class="title-menu">Web</h2>
                      <div class="info-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit.</div>
                    </a>
                  </li>
                  <li class="nav-item col-2">
                    <a class="nav-link" href="#">
                      <h2 class="title-menu">Votre image</h2>
                      <div class="info-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit.</div>
                    </a>
                  </li>
                  <li class="nav-item col-2">
                    <a class="nav-link" href="#">
                      <h2 class="title-menu">A propos</h2>
                      <div class="info-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit.</div>
                    </a>
                  </li>
                  <li class="nav-item col-2">
                    <a class="nav-link" href="#">
                      <h2 class="title-menu">Carrière</h2>
                      <div class="info-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit.</div>
                    </a>
                  </li>
                  <li class="nav-item col-2">
                    <a class="nav-link" href="#">
                      <h2 class="title-menu">Nous joindre</h2>
                      <div class="info-menu">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Duis aute irure dolor in reprehenderit.</div>
                    </a>
                  </li>
                </ul>
              </div> <!-- col -->
            </div> <!-- row menu -->
          </div> <!-- col left -->
          <div class="row align-items-center">
            <div class="col-12">
              <div class="contact text-right">914, rue Laurier, 2e étage <br> Beloeil, QC J3G 4K9 <br> 514 319 011 <br> info@panam-media.com</div>
              <ul class="social-nav">
                <li>
                  <a href="">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 430.113 430.114" style="enable-background:new 0 0 430.113 430.114;" xml:space="preserve">
                    <g>
                    	<path id="Facebook" d="M158.081,83.3c0,10.839,0,59.218,0,59.218h-43.385v72.412h43.385v215.183h89.122V214.936h59.805   c0,0,5.601-34.721,8.316-72.685c-7.784,0-67.784,0-67.784,0s0-42.127,0-49.511c0-7.4,9.717-17.354,19.321-17.354   c9.586,0,29.818,0,48.557,0c0-9.859,0-43.924,0-75.385c-25.016,0-53.476,0-66.021,0C155.878-0.004,158.081,72.48,158.081,83.3z" fill="#FFFFFF"/>
                    </g>
                    </svg>
                  </a>
                </li>
                <li>
                  <a href="">
                    <svg width="20" height="20" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Layer_1" x="0px" y="0px" width="512px" height="512px" viewBox="0 0 169.063 169.063" style="enable-background:new 0 0 169.063 169.063;" xml:space="preserve">
                    <g>
                    	<path d="M122.406,0H46.654C20.929,0,0,20.93,0,46.655v75.752c0,25.726,20.929,46.655,46.654,46.655h75.752   c25.727,0,46.656-20.93,46.656-46.655V46.655C169.063,20.93,148.133,0,122.406,0z M154.063,122.407   c0,17.455-14.201,31.655-31.656,31.655H46.654C29.2,154.063,15,139.862,15,122.407V46.655C15,29.201,29.2,15,46.654,15h75.752   c17.455,0,31.656,14.201,31.656,31.655V122.407z" fill="#FFFFFF"/>
                    	<path d="M84.531,40.97c-24.021,0-43.563,19.542-43.563,43.563c0,24.02,19.542,43.561,43.563,43.561s43.563-19.541,43.563-43.561   C128.094,60.512,108.552,40.97,84.531,40.97z M84.531,113.093c-15.749,0-28.563-12.812-28.563-28.561   c0-15.75,12.813-28.563,28.563-28.563s28.563,12.813,28.563,28.563C113.094,100.281,100.28,113.093,84.531,113.093z" fill="#FFFFFF"/>
                    	<path d="M129.921,28.251c-2.89,0-5.729,1.17-7.77,3.22c-2.051,2.04-3.23,4.88-3.23,7.78c0,2.891,1.18,5.73,3.23,7.78   c2.04,2.04,4.88,3.22,7.77,3.22c2.9,0,5.73-1.18,7.78-3.22c2.05-2.05,3.22-4.89,3.22-7.78c0-2.9-1.17-5.74-3.22-7.78   C135.661,29.421,132.821,28.251,129.921,28.251z" fill="#FFFFFF"/>
                    </g>
                    </svg>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div> <!-- row -->
    </section>
  </main>

{% endblock %}